<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Adicionar" icon="pi pi-plus" class="p-button-success mr-2" (click)="showDialogCadastro()"></button>
        </ng-template>

    </p-toolbar>

    <p-table #dt [value]="authors" [rows]="10" [paginator]="true" [globalFilterFields]="['name']"
        [(selection)]="selectedAuthors" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Listage de Authors</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                   <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>

                <th pSortableColumn="nome">Nome <p-sortIcon field="name"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-author>
            <tr>
                <td>
                    <p-tableCheckbox [value]="author"></p-tableCheckbox>
                </td>
                <td>{{author.id}}</td>
                <td>{{author.name}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="onEdit(author)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total de {{authors ? authors.length : 0 }} authors.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="displayModalCadastro" [style]="{width: '50vw'}" header="Cadastrar Autor" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <h5>Nome</h5>
            <input type="text" pInputText id="nome" [(ngModel)]="author.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !author.name">Nome is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton label="Cancelar" icon="pi pi-times" class="p-button-danger mr-2" (click)="hideModalAddDialog()"></button>
        <button pButton label="Salvar" icon="pi pi-check" class="p-button-success " (click)="onSubmit()"></button>
    </ng-template>
</p-dialog>


