<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Adicionar" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="showDialogCadastro()"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button type="button" (click)="exportexcel()" pButton pRipple icon="pi pi-file-excel" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-danger mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </ng-template>

    </p-toolbar>

    <p-table #dt id="table-book" [value]="books" [rows]="10" [paginator]="true" [globalFilterFields]="['title']"
        [(selection)]="selectedBooks" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Exibindo de {first} a {last} de um total de {totalRecords}" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Listagem de Livros</h5>
                <span class="block mt-2 mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Código<p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="title">Titulo <p-sortIcon field="title"></p-sortIcon>
                </th>
                <th pSortableColumn="isbn">Isbn <p-sortIcon field="isbn"></p-sortIcon>
                </th>
                <th pSortableColumn="situation" class="text-center">Situação <p-sortIcon field="situation"></p-sortIcon>
                </th>
                <th pSortableColumn="language">Idioma <p-sortIcon field="language"></p-sortIcon>
                </th>
                <th pSortableColumn="datePublication">Data da Publicação <p-sortIcon field="datePublication"></p-sortIcon>
                </th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-book>
            <tr>
                <td>
                    <p-tableCheckbox [value]="book"></p-tableCheckbox>
                </td>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.isbn}}</td>
                <td class="text-center">
                    <span *ngIf="book.statusBook === 1">
                        <p-badge value="Ativo" severity="success"></p-badge>
                   </span>
                    <span *ngIf="book.statusBook === 2">
                        <p-badge value="Avariado" severity="warning"></p-badge>
                    </span>
                    <span *ngIf="book.statusBook === 3">
                        <p-badge value="Perdido" severity="danger"></p-badge>
                    </span>
                </td>
                <td>{{book.descLanguage}}</td>
                <td>{{book.datePublication}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success"
                        (click)="onEdit(book)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total de {{books ? books.length : 0 }} books.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="displayModalCadastro" [style]="{width: '1200px', height: '7000px'}"
    *ngIf=true [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="header">
        <h5>Cadastrar Livro</h5>
    </ng-template>
    <ng-template pTemplate="content p-fluid">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-2">
                <h5>Código</h5>
                <input disabled="true" type="text" pInputText id="id" [(ngModel)]="book.id" required autofocus />
            </div>
            <div class="field col-12 md:col-10">
                <h5>Titulo</h5>
                <input type="text" pInputText id="title" [(ngModel)]="book.title" required autofocus />
            </div>
            <div class="field col-12 md:col-4">
                <h5>ISBN</h5>
                <input type="text" pInputText id="title" [(ngModel)]="book.isbn" required autofocus />
            </div>
            <div class="field col-12 md:col-4">
                <h5>Idioma</h5>
                <p-dropdown optionValue="id" [options]="languages" [(ngModel)]="book.codLanguage"
                    optionLabel="description"></p-dropdown>
            </div>
            <div class="field col-12 md:col-4">
                <h5>Data da Publicação</h5>
                <p-inputMask mask="99/99/9999" [(ngModel)]="book.datePublication" slotChar="dd/mm/yyyy"></p-inputMask>
            </div>
            <div class="field col-12 md:col-4">
                <h5>Situação</h5>
                <p-dropdown optionValue="cod" [options]="statusBook" [(ngModel)]="book.statusBook"
                    optionLabel="description"></p-dropdown>
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <h5>Selecione os Autores</h5>
                <p-multiSelect [options]="authors" [(ngModel)]="book.authors" optionLabel="name" selectedItemsLabel="{0} items selected"></p-multiSelect>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton label="Cancelar" icon="pi pi-times" class="p-button-danger mr-2"
            (click)="hideModalAddDialog()"></button>
        <button pButton label="Salvar" icon="pi pi-check" class="p-button-success " (click)="onSubmit()"></button>
    </ng-template>
</p-dialog>

