<div class="card">
    <p-toast position="bottom-center" [baseZIndex]="99999999999" ></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Adicionar" icon="pi pi-plus" class="p-button-primary mr-2"
                (click)="showDialogCadastro()"></button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="customers" [rows]="10" [paginator]="true" [globalFilterFields]="['name']"
        [(selection)]="selectedCustomers" [rowHover]="true" dataKey="customerId"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Listagem de Usuários</h5>
                <span class="block mt-2 mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..."  class="w-full sm:w-auto"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Código<p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="name">Nome<p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="cpf">Cpf<p-sortIcon field="cpf"></p-sortIcon>
                </th>
                <th pSortableColumn="birthDate">Data de Nascimento<p-sortIcon field="birthDate"></p-sortIcon>
                </th>
                <th style="width: 8rem" class="text-center" pSortableColumn="status">Situação<p-sortIcon field="status"></p-sortIcon>
                </th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                </td>
                <td>{{customer.customerId}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.cpfOrCnpj}}</td>
                <td>{{customer.birthDate}}</td>
                <td class="text-center">
                    <span *ngIf="customer.status">
                        <p-badge value="Ativo" severity="success"></p-badge>
                   </span>
                    <span *ngIf="!customer.status">
                        <p-badge value="Inativo" severity="danger"></p-badge>
                    </span>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2"
                        (click)="onEdit(customer)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total de {{customers ? customers.length : 0 }} customers.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="displayModalCadastro" [style]="{width: '60vw'}" header="Cadastrar Cliente" [modal]="true" [closeOnEscape]="false" [closable]="false"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12">
                <h5 class="asterisk">Nome</h5>
                <input type="text" pInputText id="name" [(ngModel)]="customer.name" required autofocus />
            </div>
            <div class="field col-12 md:col-6">
                <h5 class="asterisk">Cpf</h5>
                <p-inputMask mask="999.999.999-99" [unmask]=true [(ngModel)]="customer.cpfOrCnpj"></p-inputMask>
            </div>
            <div class="field col-12 md:col-6">
                <h5 class="asterisk">Email</h5>
                <input type="text" pInputText id="email" [(ngModel)]="customer.email" required autofocus />
            </div>
            <div class="field col-12 md:col-4">
                <h5>Data de Nascimento</h5>
                <p-inputMask mask="99/99/9999" [(ngModel)]="customer.birthDate" slotChar="dd/mm/yyyy"></p-inputMask>
            </div>
            <div class="field col-12 md:col-4">
                <h5 class="asterisk">Contato 1</h5>
                <input type="text" pInputText id="contact1" [(ngModel)]="customer.contact1" required autofocus />
            </div>
            <div class="field col-12 md:col-4">
                <h5>Contato 2</h5>
                <input type="text" pInputText id="contact2" [(ngModel)]="customer.contact2" required autofocus />
            </div>
            <div class="field col-12 md:col-4">
                <h5>Situação</h5>
                <p-inputSwitch [(ngModel)]="customer.status"></p-inputSwitch>
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12">
                <h4>Endereço</h4>
                <label>______________________________________________________________________________________________________________________________________________________________</label>
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3">
                <h5 class="asterisk">CEP</h5>
                <p-inputMask mask="99999-999" [unmask]=true (focusout)="consultaCep($event)" id="zip" [(ngModel)]="customer.zip"  ></p-inputMask>

            </div>
            <div class="field col-12 md:col-9">
                <h5 class="asterisk">Logradouro</h5>
                <input [disabled]="true" type="text" pInputText id="street" [(ngModel)]="customer.street" required autofocus />
            </div>
            <div class="field col-12 md:col-2">
                <h5>Número</h5>
                <input type="text" pInputText id="number" [(ngModel)]="customer.number" required autofocus />
            </div>
            <div class="field col-12 md:col-4">
                <h5>Complemento</h5>
                <input type="text" pInputText id="complement" [(ngModel)]="customer.complement" required autofocus />
            </div>
            <div class="field col-12 md:col-6">
                <h5 class="asterisk">Bairro</h5>
                <input [disabled]="true" type="text" pInputText id="neighborhood" [(ngModel)]="customer.neighborhood" required autofocus />
            </div>
            <div class="field col-12 md:col-6">
                <h5 class="asterisk">Cidade</h5>
                <input [disabled]="true" type="text" pInputText id="city" [(ngModel)]="customer.city" required autofocus />
            </div>
            <div class="field col-12 md:col-2">
                <h5 class="asterisk">Estado</h5>
                <input [disabled]="true" type="text" pInputText id="state" [(ngModel)]="customer.state" required autofocus />
            </div>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton label="Cancelar" icon="pi pi-times" class="p-button-secondary mr-2"
            (click)="hideModalAddDialog()"></button>
        <button pButton label="Salvar" icon="pi pi-check" class="p-button-primary " (click)="onSubmit()"></button>
    </ng-template>
</p-dialog>
